* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 2fr 1fr 5fr;
  background-color: rgb(50, 49, 49);
}

h1 {
  justify-self: center;
  align-self: center;
  font-size: 3.5rem;
  font-family: "Orbitron", sans-serif;
  color: white;
}

.display {
  font-family: "Orbitron", sans-serif;
  justify-self: center;
  align-self: center;
  font-size: 3rem;
  color: rgb(65, 176, 1);
  text-align: center;
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boards {
  display: flex;
  gap: 20px;
}

.board {
  box-sizing: content-box;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  width: 500px;
  height: 50px;
}

.cell {
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

.enemy {
  cursor: pointer;
}

.rotate {
  margin-bottom: 50px;
  border: none;
  background-color: rgb(50, 49, 49);
  cursor: pointer;
}

.rotate img {
  width: 80px;
  height: 80px;
}

.hover {
  background-color: yellow;
}

.miss {
  background-color: green;
}

.hit {
  background-color: red;
}

.player-ship {
  background-color: lightblue;
}

.hide {
  display: none;
}
